$width-main-lg: 640px;
$width-nav-lg: 140px;
$width-aside-lg: 140px;
$width-margin: 40px;

$width-body-lg: $width-main-lg + $width-nav-lg + $width-aside-lg + 2 * $width-margin;
$width-body-sm: $width-main-lg + $width-nav-lg + 1 * $width-margin;

body {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: $width-body-lg;
    max-width: $width-body-lg;

    main, aside {
        :first-child {
            margin-top: 0;
        }
    }
}

// Small Screen
@media only screen and (max-width: $width-body-sm) {
    .flex-container {
        > nav, main, header, aside, footer {
            flex: 0 0 100%;
        }
    }
}

// Medium Screen
@media only screen and (min-width: $width-body-sm) and (max-width: $width-body-lg) {
    .flex-container {
        justify-content: space-around;

        aside {
            flex: 0 0 $width-nav-lg;
        }
        main {
            flex: 0 0 $width-main-lg;

            > * {
                max-width: $width-main-lg;
                overflow-x: auto;
            }
        }
        header, > nav, footer {
            flex: 0 0 100%;
        }
    }
}

// Large Screen
@media only screen and (min-width: $width-body-lg) {
    .flex-container {
        justify-content: space-between;

        > nav, aside {
            flex: 0 0 $width-nav-lg;
        }
        main {
            flex: 0 0 $width-main-lg;

            > * {
                max-width: $width-main-lg;
                overflow-x: auto;
            }
        }
        header, footer {
            flex: 0 0 100%;
        }
    }
}