body.type-list {
    h2 {
        border-bottom: 1px solid $color-text;
    }

    ul.list {
        list-style: none;
        padding: 0;

        li.item {
            padding: 1em 0;

            a.title {
                font-size: 1.2em;
            }

            p {
                margin-bottom: 0;
            }
        }
        li:first-child {
            padding-top: 0;
        }
    }
}