@import "colors.scss";
@import "layout.scss";
@import "menu.scss";

body {
    background-color: $color-bg;
    color: #f4f4f4;
}

a {
    color: #f4f4f4;
    text-decoration: none;

    border-bottom: 1px solid $color-highlight;
    margin-bottom: 3px;
    transition: 0.2s;
}
a:hover {
    border-bottom: 4px solid $color-highlight;
    margin-bottom: 0;
}

header {
    color: $color-highlight;
    font-size: 4rem;
    padding: 1rem;
}

pre {
    padding: 1em;
}

.tag-cloud .tag {
    margin: 0.1em;
}