@import "_colors.scss";
@import "layout.scss";
@import "menu.scss";
@import "list.scss";
@import "frontpage.scss";

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: Verdana, Geneva, sans-serif;
}

a {
    color: $color-highlight;
    text-decoration: underline;
    transition: 0.2s;
}

header {
    color: $color-highlight;
    font-size: 2rem;
    padding: 1em 0;

    h1 {
        margin: 0;
        border-bottom: 1px solid $color-highlight;
    }
}

pre {
    padding: 1em;
    white-space: pre-wrap;
}

.center {
    text-align: center;
}
