<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ $styleScss := resources.Get "css/style.scss" -}}
    {{ $style := $styleScss | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <title>{{ block "title" . }}{{ if not .IsHome }}{{ with .Title }}{{ . }} |
        {{ end }}{{ end }}{{ .Site.Title }}{{ end }}</title>
</head>

<body class="type-{{ if .IsHome }}home{{ end }}{{ if .IsPage }}single{{ end }}{{ if .IsNode }}list{{ end }}">
    <div class="flex-container">
        <header>
            {{- partial "header.html" . -}}
        </header>
        <nav>
            {{- partial "menu.html" . -}}
        </nav>
        <main>
            {{- block "main" . }}{{ end }}
        </main>
        <aside>
            {{- partial "aside.html" . -}}
        </aside>
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
    </div>
</body>

</html>