<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ $styleScss := resources.Get "css/style.scss" -}}
    {{ $style := $styleScss | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <title>{{ block "title" . }}{{ if not .IsHome }}{{ with .Title }}{{ . }} |
        {{ end }}{{ end }}{{ .Site.Title }}{{ end }}</title>
</head>

<body class="type-{{ if .IsHome }}home{{ else }}{{ if .IsPage }}single{{ end }}{{ if .IsNode }}list{{ end }}{{ end }}">
    <div class="flex-container">
        <header>
            {{ block "header" . -}}
            <h1>{{ .Title }}</h1>
            {{ end }}
        </header>
        <nav>
            {{- partial "menu.html" . -}}
        </nav>
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        <aside>
            {{ block "aside" . }}{{ end }}
        </aside>
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
    </div>

    {{ if .Params.photoswipe }}
    {{- partial "load-photoswipe.html" . -}}
    {{ end }}

    {{- if not .Site.IsServer }}
    <script data-goatcounter="https://brianp.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {{- end }}
</body>

</html>